<p id="notice"><%= notice %></p>

<p>
  <strong>Social name:</strong>
  <%= @business.social_name %>
</p>

<p>
  <strong>Fantasy name:</strong>
  <%= @business.fantasy_name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @business.cnpj %>
</p>

<p>
  <strong>State registration:</strong>
  <%= @business.state_registration %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
